#contador{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 400px;
    top: 82px;
}

#noVidas {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    left: 180px;
    top: 82px;
    position: absolute;
    width: 100px;
    height: 100px;

}

.ali{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 500px;
    top: 82px;
}

#lirio11{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    left: 125px;
    top: 155px;
    position: absolute;
    width: 100px;
    height: 100px;
}

#lirio22{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    left: 325px;
    top: 160px;
    position: absolute;
    width: 100px;
    height: 100px;
}

#lirio33{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    left: 598px;
    top: 145px;
    position: absolute;
    width: 100px;
    height: 100px;
}

#lirio44{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    left: 557px;
    top: 163px;
    position: absolute;
    width: 100px;
    height: 100px;
}
/* div{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 420px;
    top: 82px;
} */




